<div class="page-header">
    <!-- <h1><%=t '.title', :default => "Start a new test" %></h1> -->
</div>

<div class="center-green-border">
    <p><center><h4>Select keyboard to test</h4></center></p>
    <p>
        <center>
            <select id="keyboard">
                <% for @keyboard in @keyboards %>
                <option value="<%= @keyboard.name %>"><%= @keyboard.name %></option>
                <% end %>
            </select>
        </center>
    </p>
    <br>
    <p>
        <center>
            <h4>Select Test Suite</h4>
            <select id="suite">
                <% for @testsuite in @test_suites %>
                    <option value="<%= @testsuite.id %>"><%= @testsuite.name %></option>
                <% end %>
            </select>
        </center>
    </p>
    
    <br>
    
    <%= link_to "Test Setup", {controller: 'test_sessions', action: 'setup', test_session: { keyboard_id: @keyboard.id, 
                                                                                             test_suite_id: @testsuite.id } }, 
                              :class => "btn btn-primary", :method => :post %>
</div>
