<%= form_for @test_suite_word, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :test_suite_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :test_suite_id, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :word_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :word_id, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            test_suite_words_path, :class => 'btn btn-default' %>
 
<% end %>
