
<div class="page-header">
  <h1><%=t '.title', :default => "Manage Test Suites & Words" %></h1>
</div>

<table class="table table-striped">
  <tbody>
    <% @test_suites.each do |test_suite| %>
      <tr>
        <td><%= test_suite.name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_test_suite_path(test_suite), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      test_suite_path(test_suite),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_test_suite_path,
            :class => 'btn btn-primary' %>