
<div class="page-header">
  <h1><%=t '.title', :default => "Manage Test Suites & Words" %></h1>
</div>
    
<table width="100%">
    <tr>
        <td width="48%" valign="top">
            <div class="suitesTbl"></div>
        </td>
        <td width="4%">&nbsp;</td>
        <td width="48%" valign="top">
            <div class="wordsTbl"></div>
        </td>
    </tr>
    <tr>
        <%= form_for TestSuite.new, url: {controller: "test_suites", action: "create"}, remote: true do |f| %>
            <td>
                <%= f.text_field :name, :class => 'form-control eightyeight', :placeholder=>"Add a new test suite" %>
                <%= f.submit "Add", :class => 'btn btn-primary rightb' %>
            </td>
        <% end %>
        
        <td width="4%">&nbsp;</td>
        
        <%= form_for Word.new, url: {controller: "words", action: "add_word"}, remote: true do |f| %>
            <td>
                <%= f.text_field :word, :class => 'form-control eightyeight', :placeholder=>"Add a new word" %>
                <%= f.submit "Add", :class => 'btn btn-primary rightb' %>
            </td>
        <% end %>
    </tr>
    
</table>