<%= form_for @test_session, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :test_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :test_number, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ease_ranking, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ease_ranking, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fun_ranking, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fun_ranking, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :accuracy_ranking, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :accuracy_ranking, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :test_suite_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :test_suite_id, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :test_unit_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :test_unit_id, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            test_sessions_path, :class => 'btn btn-default' %>
 
<% end %>
