<head>
    <h1>AR UTARS</h1>
<hr>
</head>

<%= form_for(resource, :as => resource_name, :html => {class:"form-signin"}, :url => session_path(resource_name)) do |f| %>
    <h2 class:"form-signin-heading">Sign In</h2>
    

    <div>
        <div><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class:"input-block-level", placeholder:"Email Address"%></div>

        <div style="padding:5px 5px 5px 0px"><%= f.label :password %><br />
            <%= f.password_field :password, class:"input-block-level", autocomplete: "off", placeholder:"Password" %></div>
    </div>


<%= f.submit "Sign In", class:"btn btn-large btn-primary" %>       

<%= render "devise/shared/links" %>  

<% end %>