<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <script src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js'></script>
    </head>

    <body>
        <br><br>
        <%= pie_chart @data5 %>
        <%= bar_chart @data2, @options2 %>
   
    <h1>Analytics</h1>
    <h4>Application Overview</h4>

    <center>
        <nav class="segmented-button">
            <input type="radio" name="seg-1" value="General" id="seg-General" checked>
            <label for="seg-General" class="first">General</label>
            <input type="radio" name="seg-2" value="Specific Tests" id="seg-Specific">
            <label for="seg-Specific">Specific Tests</label>
            <input type="radio" name="seg-3" value="Comparative" id="seg-Compare">
            <label for="seg-Compare" class="last">Comparative</label>
        </nav>
    </center>

    <!-- Detect when a button on the segmented control is clicked -->
    <script type="text/javascript">
        $("input[name=seg-2]").click(function(){
            window.location.href = '/analytics_specific/index';
        });
        $("input[name=seg-3]").click(function(){
            window.location.href = '/analytics_comparatif/index';
        });
        $('.segmented-button label').click(function(evt){
            evt.stopPropagation();
            window.location.href = '/home_page/index';
        });
    </script>
        
        <% @kbrds.each do |kbrd| %>
            <h3><%= kbrd.name %></h3>
            <br>
            <center><h6>Number of tests completed</h6></center>
            <!-- bar chart canvas element -->

            <!-- this is where the script originally went -->
            <%= bar_chart @data2, @options2 %>
            
            <br>
        <% end %>
        
    <!-- For each keyboard in the database -->
    <div style='overflow-x:scroll;overflow-y:scroll;width:100%;height:570px'>
    <div id="row">
        <% @kbrds.each do |kbrd| %>
        <!-- <div class="column"> -->
        <div class="chartContainer">
            <h3><%= kbrd.name %></h3>
            <br>
            <center><h6>Number of tests completed</h6></center>
            <!-- bar chart canvas element -->

            <!-- this is where the script originally went -->
            <%= bar_chart @data[kbrd.name.to_s], @options[kbrd.name.to_s] %>
            
            <br>
        </div>
        <!-- </div> -->
        <% end %>
    </div>
    </div>

    </body>
</html>